sudo: required
language: generic
services:
  - docker

before_install:
  #- docker build -t  luizgomaciel/docker-test -f .client/Dockerfile.dev ./client

script:
 # - docker run luizgomaciel/docker-test npm test -- --coverage

after_success:
  - docker build -t lgmaciel/multi-client ./client
  - docker build -t lgmaciel/multi-nginx ./nginx
  - docker build -t lgmaciel/multi-server ./server
  - docker build -t lgmaciel/multi-worker ./worker

# Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

#Take those images and push them to docker hub
  - docker push lgmaciel/multi-client
  - docker push lgmaciel/multi-nginx
  - docker push lgmaciel/multi-server
  - docker push lgmaciel/multi-worker

deploy:
  provider: heroku
  #api_key: $HEROKU_API_KEY
  api_key: d87fedf3-833f-4684-b9fc-fcc3b41b01a8
  app: multi-docker-v1