sudo: required
services:
  - docker

before_install:
  - docker build -t  luizgomaciel/docker-react -f .client/Dockerfile.dev ./client

script:
  - docker run luizgomaciel/docker-react npm test -- --coverage

after_success:
  - docker build -t luizgomaciel/multi-client ./client
  - docker build -t luizgomaciel/multi-nginx ./nginx
  - docker build -t luizgomaciel/multi-server ./server
  - docker build -t luizgomaciel/multi-worker ./worker

# Log in to the docker CLI
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin 

#Take those images and push them to docker hub
- docker push luizgomaciel/multi-client
- docker push luizgomaciel/multi-nginx
- docker push luizgomaciel/multi-server
- docker push luizgomaciel/multi-worker

#